<div class="container">
  <div class="jumbotron">
    <h2>Mini Project #09 Home</h2>
    <hr>
    <p>Welcome to Mini #09</p>
    <p>Feel free to <a href="/create">create a link</a>,</p>
    <p>or view our <a href="/list">link collection</a>.</p>
  </div>
</div>